body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondodelapagina.png');
    background-size: cover; /* Escala la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el fondo */
    width: 100%;
}

.content-wrapper {
    max-width: 90%; /* Ajusta el ancho al 80% del ancho de la pantalla */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    background-color: rgba(255, 255, 255, 0.9); /* Opcional: fondo semitransparente para resaltar el contenido */
    padding: 20px; /* Opcional: añade un poco de espacio interno */
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

.title {
    font-weight: bold;
    margin: 0;
}


.title a {
    color: #7DBC91; 
    text-decoration: none; 
}

.selectors {
    display: flex;
    gap: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f5f5f5;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Línea horizontal */
.divider-horizontal {
    border: none;
    border-top: 2px solid #a7a7a7; 
    width: 100%; 
    margin: 20px auto; 
    margin-top: 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

.ekommart {
    font-weight: bold;
    margin: 10px;
}

.search {
    position: relative;  
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; 
}

.search i.bi-search {
    position: absolute;
    left: 10px; 
    font-size: 20px;
    color: #666;
}

.search input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    background-color: #7DBC91;
    border: none;
    font-size: 16px;
    padding: 5px 15px; 
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 15px; 
     
}

.icons i {
    font-size: 24px;
    cursor: pointer;
    position: relative; 
}

/* Indicador de notificación */
.icons i::after {
    content: attr(data-count); 
    position: absolute;
    top: -5px; 
    right: -10px; 
    background-color: #ff3b3b; 
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid white; 
}


.icons i[data-count="0"]::after {
    display: none;
}

.button {
    margin-right: 20px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background-color: #7DBC91;
}

.nav > li {
    position: relative;
}

/* Estilos para el menú principal */
.display-section {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 20px;
    background-color: #7DBC91;
    padding: 10px;
}


/* stylelint-disable-next-line no-descending-specificity */
.nav > li > a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #7DBC91;
    color: #fff;
    display: block;
    border-radius: 5px;
}

.nav > li > a:hover {
    background-color:  #7DBC91;
}

/* Estilos para los submenús */
.submenu {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
}

.submenu li {
    padding: 10px;
    white-space: nowrap;
}

/* stylelint-disable-next-line no-descending-specificity */
.submenu li a {
    text-decoration: none;
    color: #333;
    display: block;
}


.submenu li a:hover {
    background-color: #f1f1f1;
}


.nav > li:hover .submenu {
    display: block;
}

.image-container {
    width: 100%;
    height: auto; 
}

.image-container img {
    width: 100%;   
    height: 20%;  
    
}

.timer {
    padding: 20px;
    
}

.deals-section {
    display: flex;
    align-items: center; /* Alinea ambos divs verticalmente */
    padding: 20px;
    background-color: #fff;
}

.timer h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.timer p {
    font-size: 14px;
    color: #aaa;
    margin: 5px 0 0;
}

.contador {
    display: flex;
    align-items: center; /* Alinea los bloques del contador verticalmente */
    gap: 15px; /* Espacio entre los elementos dentro del contador */
    justify-content: flex-end; /* Asegura que esté alineado a la derecha */
}

.time {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.number {
    font-size: 32px;
    font-weight: bold;
    color:  #7DBC91;
}

.label {
    font-size: 14px;
    color: #333;
    
}

.separator {
    font-size: xx-large;
    margin: 0 5px;
}


.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;


    @media screen and (max-width : 600px) {
        align-items: center;
        display: flex;
    }
}

.product-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 4000px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    align-items: center;
}

.badges {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 10px;
}

.badge {
    padding: 14px 18px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
}

.badge.new {
    background-color: #033c;
}

.badge.sale {
    background-color: #c00;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.rating {
    font-size: 14px;
    color: #f7b500;
}

.product-price {
    font-size: 18px;
    color:  #7DBC91;
    font-weight: bold;
    display: inline-block;
}

.divider-green {
    border-bottom: 3px solid  #7DBC91; /* Línea horizontalgradable */
    border-top: 3px solid  #7DBC91; /* Línea horizontal sólida */
    width: 95%; /* Ocupa el 80% del contenedor */
    bottom: 10px;
}

/* Contenedor principal para el layout */
.shop-container {
    display: flex;
    gap: 20px;
    max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
    margin: 0;
    padding: 20px;
}

/* Sidebar de categorías */
.categories {
    flex: 0 0 250px; /* Define un ancho fijo para el sidebar */
    border-right: 1px solid #e0e0e0;
    padding: 0;
}

/* Estilos de los títulos */
.categories h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Estilos de la lista de categorías */
.categories ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

/* Estilos de los elementos de la lista */
.categories li {
    margin-bottom: 10px;
}

/* Estilos de los enlaces de la lista */
.categories li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Contenido principal del producto */
.product-main {
    flex: 2;
    display: flex;
    gap: 20px;
    height: 100%;
}

.product-images {
    width: 20%;
    border-radius: 8px;
    align-items: center;
}

.product-feature {
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe el 100% de su espacio */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.product-feature {
    position: relative;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
/* stylelint-disable-next-line no-duplicate-selectors */
.product-images {
    width: 100%;
    height: 100%;
  }
  
  .product-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .product-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    top: 50%;
    width: 100%;
    position: absolute;
  }
  
  .product-details {
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 12px;
    left: 0%;
    width: 100%;
    ;
  }
  
  .ratings {
    margin-bottom: 10px;
    color: #f7b500;
  }
  
  .product-titles {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  .product-price {
    font-size: 18px;
    color:  #7DBC91;
    font-weight: bold;
    display: inline-block;
}

.product-actions i{
    cursor: pointer;
    font-size: 24px;
    color:  #000201;
}

.especial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #7DBC91;
    border-radius: 100%;
    cursor: pointer;
  }
  
  .especial i {
    font-size: 24px;
    color: white;
  }

  .related-product{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    
  }

  .related-product-item{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

  }

  .estrellas{
    color: #f7b500;
  }



  .product-thumbsnail{
    width: 100%;
    height: 100%;
  }


  .related-product-price{
    color: #7DBC91;
  }
  
/* Banner de promoción */
.promo-banner {
    width: 30%;   
}

.manguera-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    gap: 40px;
}

.manguera, .manguera2 {
    width: 40%; 
}

.manguera img, .manguera2 img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.garden-tools {
    display: flex; 
    align-items: center; 
    width: 100%;
    padding: 30px; 
}

.garden{
    color: #7DBC91;
}

/* Contenedor principal */
.container-a123 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

/* Bloques de productos */
.block-a123,
.block-b456 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
}

/* Productos individuales */
.item-a123,
.item-b456 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    /* stylelint-disable-next-line alpha-value-notation */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Imágenes */
.image-a123,
.image-b456 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

/* Información del producto */
.info-a123,
.info-b456 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* Calificaciones */
.rating-a123,
.rating-b456 {
    color: #f7b500;
    font-size: 14px;
}

/* Títulos de los productos */
.title-a123,
.title-b456 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

/* Precios */
.price-a123,
.price-b456 {
    color: #7DBC91;
    font-size: 14px;
}

.fondoGrande {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.fondoAñadido {
    width: 100%;
}

.fondoImagen {
    width: 100%;
    height: auto; 
    display: block; 
}

.corto {
    top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog p{
    color: #a7a7a7;
    justify-content: center;
    align-items: center;
}

.three-image-section {
    display: flex;
    gap: 20px; /* Espacio entre las imágenes */
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap; /* Asegura que las tarjetas se acomoden si el espacio es limitado */
    margin: 20px 0;
}

.image-card {
    flex: 1;
    max-width: 30%; /* Tres tarjetas, cada una ocupa un 30% del ancho */
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 10px; /* Espacio entre los elementos internos */
}

.image-card img.image {
    width: 100%;
    height: auto; /* Mantener proporción */
}

.image-card .caption {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

.image-card .title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.image-card .description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.image-card .read-more {
    font-size: 16px;
    color: #7DBC91;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.image-card .read-more:hover {
    color: #7DBC91; /* Cambiar color al pasar el cursor */
}

.four-image-section {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre las imágenes */
    width: 100%;
    flex-wrap: wrap; /* Permite que se acomoden en varias filas si no hay espacio suficiente */
}

.image-item {
    display: flex;
    flex-direction: row; /* Cambié de column a row */
    align-items: center; /* Alinea la imagen y el título verticalmente */
    text-align: left; /* Alinea el título a la izquierda */
    flex: 1;
}

.image-item img.image {
    width: 20%; /* La imagen ocupa el 80% del contenedor */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un estilo */
}

.image-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}  

.user-info {
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
   
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 30px; 
    justify-content: space-between;
}

.footer-item h3 {
    font-size: small;
}

.email a {
    color: #7DBC91;
}

.change-color {
    color: red;
    font-size: larger;
}

.more-content-two h3{
    font-size: smaller;
    color: #000201;
}

.last-one {
    display: flex;
    flex-direction: row; /* Cambiado a 'row' para mantener los divs en una fila */
    gap: 20px;
    align-items: center;
    justify-content: space-between; /* Espaciar los divs a lo largo del ancho */
    text-align: center;
    background-color: #0f5a26;
    padding: 30px; /* Espacio arriba y abajo de 20px, y 10px en los lados */
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.last-icon {
    font-size: 30px;
    color: white;
}

.search-bar-last {
    position: relative; /* Para posicionar los elementos dentro del contenedor */
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Ancho máximo del campo de búsqueda */
    margin: 0 auto; /* Centra el contenedor si es necesario */
}

.search-bar-last i {
    position: absolute;
    left: 10px; /* Posiciona el ícono dentro del campo */
    font-size: 20px;
    color: #666;
}

.newsletter {
    color:#ccc;
    font-size: small;
}

.newsletter2 {
    color:#ccc;
    font-size: small;
}

.search-bar-last input {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Espacio para el ícono de búsqueda */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none; /* Elimina el borde azul al hacer clic */
    background-color: #0f5a26;
}

.search-bar-last button {
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    background-color: #7DBC91;
    font-size: smaller;
}

.lasts-icon{
    color: #e0e0e0;
    justify-content: space-between;
    gap: 20px;
}


.copyright {
    padding: 20px;
    background-color: #093617;
}

.copyright-content {
    text-align: center;
    color: #cccccc;
}
































